* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 4rem;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.12);
}

header nav {
  display: flex;
  align-items: center;
  gap: 4rem;
}

header nav ul {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

header nav ul li {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  font-family: "Open Sans", sans-serif;
}

header nav ul li a {
  transition: 0.15s ease;
  color: rgba(0, 0, 0, 0.87);
}

header nav ul li a:hover {
  color: #006241;
}

header nav .logo img {
  width: 5rem;
  height: 5rem;
}

header .actions {
  display: flex;
  align-items: center;
}

header .actions .find-store {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: "Open Sans", sans-serif;
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.5rem;
  font-weight: 700;
  margin-right: 3.75rem;
}

header .actions .find-store i {
  font-size: 2.4rem;
}

header .actions .find-store:hover {
  color: #006241;
}

header .actions .find-store:hover i {
  color: #006241;
}

header .actions .sign-in {
  background: transparent;
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0.75rem 1.75rem;
  cursor: pointer;
  border-radius: 50rem;
  transition: 0.15s ease;
  border: 1px solid #000;
  margin-right: 2.5rem;
}

header .actions .sign-in:hover {
  background: #dfdfdf;
}

header .actions .join-now {
  background: #000;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0.75rem 1.75rem;
  cursor: pointer;
  border-radius: 50rem;
  transition: 0.15s ease;
  border: 0;
}

header .actions .join-now:hover {
  background: #555;
}

main section .text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  width: 50%;
}

main .starbucks-rewards {
  background: #d4e9e2;
  display: flex;
  margin-top: 3rem;
}

main .starbucks-rewards img {
  width: 50%;
}

main .starbucks-rewards .text {
  color: #1e3932;
}

main .starbucks-rewards .text h2 {
  font-size: 2.4rem;
}

main .starbucks-rewards .text p {
  font-size: 1.9rem;
  line-height: 1.8;
  max-width: 45rem;
  font-weight: 500;
}

main .starbucks-rewards .text .join-now {
  font-size: 1.5rem;
  background: #d4e9e2;
  padding: 0.75rem 2rem;
  font-weight: 700;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  border-radius: 50rem;
  transition: 0.15s ease;
  border: 1px solid #1e3932;
  color: #1e3932;
}

main .starbucks-rewards .text .join-now:hover {
  filter: brightness(0.9);
}

main .help-community {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  background: #d4e9e2;
}

main .help-community img {
  width: 50%;
}

main .help-community .text {
  background: #d4e9e2;
  color: #1e3932;
}

main .help-community .text h2 {
  font-size: 5rem;
  max-width: 46rem;
  letter-spacing: 0.3rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}

main .help-community .text p {
  font-size: 2.4rem;
  line-height: 1.4;
  margin-bottom: 3rem;
  max-width: 50rem;
  font-weight: 500;
}

main .help-community .text .learn-more {
  font-size: 1.5rem;
  background: #d4e9e2;
  padding: 0.75rem 2rem;
  font-weight: 700;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  border-radius: 50rem;
  transition: 0.15s ease;
  border: 1px solid #1e3932;
  color: #1e3932;
}

main .help-community .text .learn-more:hover {
  filter: brightness(0.9);
}

main .art-roast {
  background: #006241;
  width: 100%;
  display: flex;
  margin-top: 3rem;
}

main .art-roast img {
  width: 50%;
}

main .art-roast .text h2 {
  font-size: 4.8rem;
  max-width: 40rem;
  line-height: 1.2;
  margin-bottom: 3rem;
}

main .art-roast .text p {
  font-size: 2.4rem;
  max-width: 50rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

main section .text .order-now {
  border: 1px solid #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: 50rem;
  color: #fff;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  background: transparent;
  transition: 0.15s ease;
}

main section .text .order-now:hover {
  background: rgba(255, 255, 255, 0.1);
}

main .nitro-cold-brew {
  display: flex;
  background: #006241;
  margin-top: 3rem;
  width: 100%;
}

main .nitro-cold-brew .text h2 {
  letter-spacing: 0.225rem;
  font-size: 4.8rem;
}

main .nitro-cold-brew .text p {
  font-size: 2.4rem;
  font-weight: 600;
  max-width: 50rem;
  margin: 3rem 0;
}

main .nitro-cold-brew img {
  width: 50%;
}

main .protein-packed {
  display: flex;
  width: 100%;
  background: #006241;
  margin-top: 3rem;
}

main .protein-packed img {
  width: 50%;
}

main .protein-packed .text h2 {
  font-size: 2.4rem;
}

main .protein-packed .text p {
  font-size: 1.9rem;
  line-height: 1.8;
  margin: 3rem 0;
  max-width: 45rem;
  font-weight: 500;
}

main .protein-packed .text .learn-more {
  border: 1px solid #fff;
  color: #fff;
  padding: 0.75rem 1.5rem;
  font-size: 1.4rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  background: transparent;
  cursor: pointer;
  transition: 0.15s ease;
  border-radius: 50rem;
}

main .protein-packed .text .learn-more:hover {
  background: rgba(255, 255, 255, 0.1);
}

main .latinx-heritage {
  display: flex;
  margin-top: 3rem;
  width: 100%;
  background: #d4e9e2;
  margin-bottom: 3rem;
}

main .latinx-heritage .text {
  color: #1e3932;
}

main .latinx-heritage .text h2 {
  font-size: 2.4rem;
}

main .latinx-heritage .text p {
  font-size: 1.9rem;
  line-height: 1.8;
  margin: 3rem 0;
  max-width: 45rem;
  font-weight: 500;
}

main .latinx-heritage .text .learn-more {
  font-size: 1.5rem;
  background: #d4e9e2;
  padding: 0.75rem 2rem;
  font-weight: 700;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  border-radius: 50rem;
  transition: 0.15s ease;
  border: 1px solid #1e3932;
  color: #1e3932;
}

main .latinx-heritage .text .learn-more:hover {
  filter: brightness(0.9);
}

main .latinx-heritage img {
  width: 50%;
}

footer {
  display: flex;
  flex-direction: column;
  border-top: 2px solid #dadada;
}

footer nav {
  display: flex;
  padding: 4rem;
  padding-bottom: 6rem;
}

footer nav ul:nth-child(1) {
  margin-right: 10rem;
}

footer nav ul:nth-child(2) {
  margin-right: 4rem;
}

footer nav ul:nth-child(3) {
  margin-right: 2rem;
}

footer nav ul:nth-child(4) {
  margin-right: 3rem;
}

footer nav ul:nth-child(5) {
  margin-right: 3rem;
}

footer nav ul {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

footer nav ul p {
  font-size: 2rem;
}

footer nav ul li a {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
  transition: 0.15s ease;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  max-width: 20rem;
  display: block;
}

footer nav ul li a:hover {
  color: rgba(0, 0, 0, 0.85);
}

footer .footer {
  border-top: 2px solid #dadada;
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 2rem;
  margin: 0 auto;
}

footer .footer .social-media {
  display: flex;
  margin-left: -1rem;
  align-items: center;
}

footer .footer .social-media .social-media-link {
  background: transparent;
  padding: 1rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  transition: 0.15s ease;
}

footer .footer .social-media .social-media-link:hover {
  background: #dedede;
}

footer .footer .social-media .social-media-link i {
  font-size: 2.4rem;
  color: #fff;
  background: #222;
  border-radius: 50%;
  padding: 0.5rem;
}

footer .footer .important-links {
  display: flex;
  align-items: center;
}

footer .footer .important-links a {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  color: #222;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
}

footer .footer .important-links a:hover {
  text-decoration: underline;
}

footer .footer .important-links .divisor {
  width: 1px;
  height: 20px;
  background: #444;
  margin: 0 2rem;
}

footer .footer p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.58);
}
